<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Test</title>
        <link 
    </head>

    <body style="background-image: url(./images/natural-language-processing-1110x831-1.png);">
        <header>
            <div class="Logo-Image">
                <img src="./images/LogoMeaningCloud650x264.png">
            </div>
            <nav class="navbar__menu">
                <ul id="navbar__list">
                    <li > <a>Home</a> </li>
                    <li > <a>About</a> </li>
                    <li > <a>Contact Us</a> </li>
                </ul>
            </div>
        </header>

        <main>
            <section class="formSec">
                <form class="Subform" onsubmit="return Client.handleSubmit(event)">
                    <input id="name" type="text" name="input" value="" onblur="onBlur()" placeholder="Name">
                    <input id="SUBMIT" type="submit" name="" value="SUBMIT" onclick="return Client.handleSubmit(event)" onsubmit="return handleSubmit(event)">
                </form>
            </section>

            <section class="resultForm">
                <strong>Form Results:</strong>
                <div id="results"></div>
            </section>
        </main>

        <footer class="page__footer">
            <p id="footpara">MeaningCloud @Copyright 2020/2021</p>
        </footer>
        <script>
            // Check that service workers are supported
            if ('serviceWorker' in navigator) {
                // Use the window load event to keep the page load performant
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('/service-worker.js');
                });
            }
           </script>
    </body>
</html>
